@import 'breakpoints';
@import 'variables';


.featured {
	padding: 3.5em 1.5em;
	margin: 0 auto;
	@media only screen and (min-width: $screen-lg-min) {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 3.5em;
		justify-content: center;
		align-items: flex-start;
		picture {
			width: calc(55% - 3em);
			margin-right: 3em;
			// padding-right: 3em;
		}
	}
	@media only screen and (min-width: $screen-xl-min) {
		width: $maxwidth-screen-xl-min;
	}
	@media only screen and (min-width: $screen-xxl-min) {
		width: $maxwidth-screen-xxl-min;
	}
}

.featured-text {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (min-width: $screen-lg-min) {
		width: 45%;
	}
}

.featured-head {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.featured-head > h2 {
	width: 100%;
	margin: 0;
	padding: 0.75em 0;
	@media only screen and (min-width: $screen-md-min) {
		text-align: left;
		width: calc(80% - 32px);
	}
	@media only screen and (min-width: $screen-lg-min) {
		width: 100%;
		text-align: center;
	}
}

.featured-link {
	height: 2em;
	border: none;
	border-radius: 3px;
	background-color: $primary-background-color;
  	color: $primary-font-color;
  	font-weight: bolder;
	margin: 0 8px;
	font-size: 0.9em;
	-webkit-box-shadow: 3px 4px 5px 0px rgba(220, 225, 225, 1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(220, 225, 225, 1);
  box-shadow: 3px 4px 5px 0px rgba(220, 225, 225, 1);
	@media only screen and (min-width: $screen-md-min) {
		height: 2.8em;
		width: 10%;
		-ms-flex-item-align: center;
		align-self: center;
	}
	@media only screen and (min-width: $screen-lg-min) {
		width: auto;
	}
}

.featured-link > a {
	padding: 0;
	color: inherit;
}

.featured-link:hover {
	color: white;
	background-color: $highlight-color;
	border-color: $highlight-color;
	cursor: pointer;
}


.featured-img {
	max-width: 100%;
	margin: 0 auto;
}

.featured-skill {
	padding: 0.5em;
	color: white;
	background-color: $lighter-primary-font-color;
	border: 1px solid $lighter-primary-font-color;
	border-radius: 3px;
	margin-right: 6px;
	margin-bottom: 6px;
	font-size: 11px;
}

// .skill-icon {
// 	font-size: 1.5em;
// 	padding-right: 0.3em;
// }