@import 'breakpoints';
@import 'variables';

.skills-container {
	width: 90%;
	margin: 1em auto 3em;
	padding: 0.5em 0.6em 1em;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (min-width: $screen-md-min) {
		width: 94%;
		background-color: $primary-background-color;
		padding: 0.5em;
		margin: 2.5em auto 4.5em;
		border-radius: 4px;
	}
	@media only screen and (min-width: $screen-lg-min) {
		width: 90%;
		border-radius: 4px;
	}
}

.skills-container h1{
	width: 100%;
	text-align: center;
}

.skills-container-item {
	border-bottom: 1px solid  $highlight-color;
	width: 100%;
	background-color: white;
	@media only screen and (min-width: $screen-md-min) {
		margin: 4px;
		width: calc((100% - 24px) / 3);
		border: none;
	}
	@media only screen and (min-width: $screen-xl-min) {
		margin: 1em;
		width: calc((100% - 6em) / 3);
		border: none;
	}
}

.skills-container-item:first-of-type {
	border-top: 1px solid  $highlight-color;
	@media only screen and (min-width: $screen-md-min) {
		border-top: none;
	}
}

.skill-list {
	list-style-type: none;
	padding: 1em;
}

.skill-list li {
	padding: 0.4em;
}