$primary-background-color: #b1deecc7;
$primary-font-color: #58595b;
$lighter-primary-font-color: #7D7D7D;
$highlight-color: #1292bb;


$maxwidth-screen-sm-md-min: 100%;
$maxwidth-screen-xl-min: 83vw;
$maxwidth-screen-xxl-min: 70vw;
// $screen-md-sidebar-width: 35%;
// $screen-lg-sidebar-width: 30%;